@model List<PROLINSA_SISTEMA.detallefactura>


<table class="table table-bordered">
    <thead>
        <tr>
            <th style="text-align:center">Producto</th>
            <th style="text-align:center">Cantidad</th>
            <th style="text-align:center">Importe</th>
            <th style="text-align:center">Subtotal</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="text-align:center">@item.Producto.NombreProducto</td>
                <td style="text-align:center">@item.Cantidad</td>
                <td style="text-align:center">@item.Subtotal</td>
                <td style="text-align:center">@item.Total</td>
            </tr>
        }
    </tbody>
</table>
